@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

:root {
  --default-font: 'Rubik', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --default-color: #213547;
  --default-bg: #ffffff;

  line-height: 1.5;
  font-weight: 400;

  color: var(--default-color);
  background-color: var(--default-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: var(--default-font);
  font-weight: 400;
  font-style: normal;
  color: var(--default-color);
  background-color: var(--default-bg);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Don't modify styles above unless certain */

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
