/* Adding the Rubik-Font */
/* Normal font */
@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Normal italic font */
@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Bold font */
@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Bold italic font */
@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Light font */
@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Light italic font */
@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Set base font size (1rem = browser default, usually 16px) */
html {
  font-size: 1rem;
}

/* Define SCSS Variables */
$default-font: 'Rubik', system-ui, Avenir, Helvetica, Arial, sans-serif;  /* Define Rubik as default font with a few fallbacks */
/* TODO: Set text and background color to a value from the color palette */
$default-color: #213547; /* Define default text color*/
$default-bg: #ffffff; /* Define default background color */

/* Applies base layout and font styling to the whole document body */
:root {
  line-height: 1.5; /* Define spacing between lines (good for readability) */
  font-weight: 400; /* Define regular font weight */

  color: $default-color; /* Apply var as text color */
  background-color: $default-bg; /* Apply var as background color */

  font-synthesis: none; /* Prevents the browser from faking bold or italic fonts */
  text-rendering: optimizeLegibility; /* Improves text rendering (ligatures, kerning) */
  -webkit-font-smoothing: antialiased; /* Smooths fonts on macOS/Chrome */
  -moz-osx-font-smoothing: grayscale; /* Similar smoothing for Firefox on macOS */

  /* Improved font displaying e.g. fi doesn't merge together*/
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;
}

/* Takes effect in the visible part of the document (unless overwritten) */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  min-width: 320px;
  min-height: 100vh;

  font-family: var(--default-font);
  font-weight: 400;
  font-style: normal;
  color: var(--default-color);
  background-color: var(--default-bg);
}

/** Accessibility (Reduce Motion Respect) */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Define how something should look if it is selected by the user (e.g. via mouse) */
::selection {
  background: #965fab;
  color: #000;
}

/* Important to prevent margin/padding from blowing up layout sizes */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Div that contains the entire app */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*--------------------------------------------------------------------------------------------*/
/* Don't modify styles above unless certain */
/*--------------------------------------------------------------------------------------------*/

button {
  /* TODO: Add styles*/
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
    /* TODO: Add styles*/
}

h3 {
    /* TODO: Add styles*/
}

p {
    /* TODO: Add styles*/
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"] {
    /* TODO: Add styles*/
}

input[type="checkbox"] {
  /* TODO: Add styles */
}

label {
  /* TODO: Add styles */
}

input[type="number"] {
  /* TODO: Add styles */
}
